.nav{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
    height: 30px;
    padding-bottom: 15px;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__logo{
    position:fixed;
    left: 40px;
    width: 100px;
    object-fit: contain;
}

.nav__logo:hover{
    cursor: pointer;
}

.nav__profile{
    position: fixed;
    right: 40px;
    width: 35px;
    border-radius: 5px;
    object-fit: contain;
}

.nav__black{
    background-color: #111;
}

.nav__profile:hover{
    cursor: pointer;
}

.flex{
    display: flex;
}